# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
/.idea.3d_rendering.iml
# Datasource local storage ignored files
/../../../../../../../../:\dev\saxion\cpp\3d_rendering\.idea\.idea.3d_rendering\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
